body{
  color: green;
  font-size: 20px;
}
h2{
  text-align: center;
}
#firsth2{
  text-align: left;
}
.firstclass{
  background-color: black;
}
#in{
  background-color: red;
}
#block{
  background-color: yellow;
}
a{
  text-decoration: none;
  color: black;
  font-size: 100px;
  letter-spacing: 10px;
} /*이 안에 메모를 해도 코드에 아무런 영향을 주지 않습니다*/
